extends layout

block content
  h2= message
  p Welcome to our book review application where you can share your thoughts on books you've read.
  .actions
    a.btn(href='/reviews') View All Reviews
    a.btn.primary(href='/reviews/new') Add New Review